button {
    font-size: 1.0em;
}

button:hover {
}

toolbutton button label {
    margin-top: 0.3em;
}

#searchbar {
    font-size: 1.2em;
}

.status_main_text {
    font-size: 1.4em;
    font-weight: bold;
}

.titulos {
    color: yellow;
}

.bgcolor {
    background-color: yellow;
}

.cabecera {
    color: white;
}

progressbar, text {
    font-size: 1.2em;
    margin-top: 8px;
    margin-bottom: -40px;
}

progressbar, trough, progress {
    min-height: 40px;
    margin-bottom: 0;
    border-radius: 5px;
}
